[submodule "modules/zmk-keyboard-rapolas7"]
	path = modules/zmk-keyboard-rapolas7
	url = https://github.com/boysonline/zmk-keyboard-rapolas7
[submodule "config/config/modules/zmk-keyboard-rapolas7"]
	path = config/config/modules/zmk-keyboard-rapolas7
	url = https://github.com/boysonline/zmk-keyboard-rapolas7.git
